@model List<InActivePlayer>

<h2>Inactive Players</h2>
<ul>
    @foreach (var inactivePlayer in Model)
    {
        <li>@inactivePlayer.FullName</li>
        <a asp-controller="InActivePlayers" asp-action="MakeActive" asp-route-id="@inactivePlayer.Id">Make Active</a>
    }
</ul>
