html {
    font-size: 14px;
}

@media (max-width: 1440px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


/*LOGIN CSS DONE BY FAROOQ Jidelola*/
body, main {
    margin: 0 auto;
}

.identity-box label {
    display: none;
}

@media screen and (min-width: 28px) and (max-width: 576px) {
    body {
        color: #fff;
        margin: 0 auto;
    }

    nav {
        font-size: 14px;
        width: 490px;
    }


    .stadium {
        background-color: rgba(255, 255, 255, 0);
        height: 466px;
        width: 40px;
    }

    .stadium img {
        position: relative;
        width: 300px;
    }

    .login-container {
        background: rgba(255, 255, 255, 0);
        position: relative;
        padding: 10px;
        height: 200px;
    }

        .login-container h3 {
            margin-bottom: 2px;
            text-align: center;
        }

    .identity-box {
        position: relative;
    }

    
    .identity-box input {
        width: 1%;
        height: 3%;
        background: transparent;
        border: 2px solid rgba(255,255,255,0.9);
        border-radius: 40px;
        font-size: 20px;
    }

        .identity-box input::placeholder {
            color: white;
        }

    .forget-password {
        display: flex;
        justify-content: left;
        font-size: 16px;
        margin: 1px 0 1px;
        padding: 1px;
        width: 310px;
    }

        .forget-password a {
            color: #FFF;
            text-decoration: none;
        }

            .forget-password a:hover {
                text-decoration: underline;
            }

}


/*Header*/
header {
    font-size: 18px;
}

@media only screen and (min-width: 577px) and (max-width: 1440px) {
    nav {
        max-width: 124%;
    }

    html {
        width: 100%;
    }

    header {
        font-size: 17px;
    }

    body {
        margin: 0 auto;
    }

}

/*Table*/
.tbl-design {
    background: #4CBB17;
    border-radius: 30px 20px 20px 30px;
    width: 64%;
    margin-top: 140px;
}

@media only screen and (min-width: 577px) and (max-width: 1440px) {
    .tbl-design {
        border-radius: 30px 30px 30px 30px;
        width: 60px;
    }
}

/*other classes*/
.stadium {
    max-width: 180%;
    max-height: 110%;
}

    .stadium img {
        width: 411px;
        height: 445px;
    }


@media only screen and (min-width: 577px) and (max-width: 1440px) {
    .stadium {
        height: 466px;
        width: 410px;
    }

        .stadium img {
            height: 462px;
            width: 405px;
        }
}


/*************************************Login container and Identity box************/

.container {
    margin: 0 auto;
}

.login-container {
    display: flex;
    height: 17%;
    width: 108%;
}

.identity-box {
    display: flex;
    height: 17%;
    justify-content: center;
    max-width: 150%;
}

.login-container h3 {
    margin-bottom: 20px;
    text-align: center;
}

.identity-box input {
    width: 100%;
    height: 63%;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.9);
    border-radius: 40px;
    font-size: 20px;
    padding: 20px 10px 20px 20px;
}

    .identity-box input::placeholder {
        color: white;
    }


@media only screen and (min-width: 577px) and (max-width: 1440px) {

    .container {
        margin: 0 auto;
    }

    .login-container {
        display:flex;
        height: 459px;
        justify-content: left;
        padding: 2px;
        width: 360px;
    }

        .login-container h3 {
            font-size: 17px;
            text-align: center;
            margin-top: 21px;
            margin-bottom: 20px;
        }

    .identity-box {
        height: 70px;
        justify-content: center;
        width: 340px;
    }

        .identity-box input {
            width: 80%;
            height: 71%;
            background: transparent;
            border: none;
            outline: none;
            border: 2px solid rgba(255,255,255,0.9);
            justify-content: center;
            border-radius: 40px;
            font-size: 15px;
            padding: 20px 10px 20px 20px;
        }

            .identity-box input::placeholder {
                color: white;
            }


}

/********************************************************Forget password*/
.forget-password {
    display: flex;
    justify-content: space-between;
}
    .forget-password label {
        font-size: 14px;
        text-align: left;
    }
    .forget-password a {
        font-size: 14px;
        text-align: right;
        text-decoration: none;
    }

        .forget-password a:hover {
            text-decoration: underline;
        }

@media only screen and (min-width: 577px) and (max-width: 1440px) {
    .forget-password {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        margin: 11px 0 19px;
        padding: 3px;
        width: 340px;
    }

        .forget-password a {
            color: #001F3F;
            text-decoration: none;
        }

            .forget-password a:hover {
                text-decoration: underline;
            }
}


/**********************************************************button Login ***********/
.btn-login-page button {
    width: 100%;
    height: 49px;
    background: #001F3F;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    font-size: 21px;
    color: #ffff;
    position: center;
margin: 20px 6px;
}

    .btn-login-page button:hover {
        background: #F1A41D;
        cursor: pointer;
    }

@media only screen and (min-width: 577px) and (max-width: 1440px) {
    .btn-login-page button {
        width: 100%;
        height: 45px;
        background: #001F3F;
        border: none;
        border-radius: 40px;
        font-weight: 600;
        font-size: 21px;
        color: #ffff;
    }

        .btn-login-page button:hover {
            background: #F1A41D;
            cursor: pointer;
        }
}

/***********************************************************New Account*/
.new-account {
    margin-top: 70px;
    text-align: center;
}

.new-account p {
    height: 12px;
}

    .new-account a {
        font-size: 16px;
        color: #ffff;
        padding: 0 60px;
        text-decoration: none;
    }

        .new-account a:hover {
            color: #F1A41D;
            text-decoration: underline;
        }

        .new-account i {
            color: #ffff;
        }

@media only screen and (min-width: 577px) and (max-width: 1440px) {
    .new-account {
        margin-top: 60px;
        text-align: center;
    }

        .new-account a {
            color: #ffff;
            text-decoration: none;
        }

            .new-account a:hover {
                color: #F1A41D;
                text-decoration: underline;
            }
}
