@model wmbaApp.Models.Team

<h2>Are you sure you want to make this team active?</h2>
<br />
<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TmName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TmName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Division.DivName)
        </dd>
    </dl>
    <form asp-action="MakeActive">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Reactivate" class="btn btn-outline-dark " />
        <a asp-action="Index" type="button" class="btn btn-outline-dark ">Back to Teams list</a>
    </form>
</div>