@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">@ViewData["Title"]</h2>
                    <hr />
                    <p class="card-text" style="background-color: #17254c; color:#fff; font-size: 17px;">
                        Please check your email for instructions on resetting your password. You'll need to click the link provided to 
                        begin the password reset process. First, enter your email address, 
                        then enter your desired new password and confirm it by typing it again. Finally, save your changes.
                    </p>
                    <a asp-controller="Home" asp-action="Index">Back to login page.</a>
                </div>
            </div>
        </div>
    </div>
</div>
