@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<style>
    h1 {
        margin-top: -88px;
    }
    a {
        color: #020202;
    }
</style>

<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
    <a asp-controller="Home" asp-action="Index">Back</a>
</p>
