@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<link rel="stylesheet" href="~/css/login-design.css" asp-append-version="true" />
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
        }

        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-bottom: 340px;
            margin-left: auto;
        }

        .form-container {
            width: 100%;
            max-width: 400px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 40px auto 20px;
        }

            .form-container h3 {
                margin-bottom: 20px;
                color: #333;
                font-size: 24px;
                font-weight: bold;
                text-align: center;
            }

            .form-container h4 {
                margin-bottom: 20px;
                color: #666;
                font-size: 18px;
                text-align: center;
            }

        .btn-reset-password {
            right: 22px;
            margin-top: 10px; 
            padding: 10px 20px; 
            font-size: 16px; 
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h3>@ViewData["Title"]</h3>
        <hr />
        <h4>Enter your email.</h4>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary btn-block btn-reset-password"><i class="fas fa-envelope"></i> Resend</button>
            <a asp-controller="Home" asp-action="Index">Click Here to Go Back to Login Page</a>
            </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>
</html>
