@model wmbaApp.ViewModels.UserVM
@using wmbaApp.ViewModels;

@{
    ViewBag.Title = "Edit Roles";
}

<h2>Edit Role Assignments</h2>

<form asp-action="AssignTeams">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <input type="hidden" id="selectedTeams"/>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly="readonly" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            @{
                foreach (Division d in ViewData["DivisionsList"] as List<Division>)
                {
                    <div class="form-group">
                        <label class="control-label"></label>
                        <label class="control-label">@d.DivName</label>
                        @Html.DropDownList("selectedTeams", (SelectList)ViewData[d.DivName], "Select a team", new { @class = "form-control", id=$"{d.DivName}" })
                        <br />
                    </div>
                }
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<div>
    <partial name="_BackToList" />
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('select[name="selectedRoles"]').each(function (index, value) {
                value.change(function (one) {
                    console.log(one);
                })
            });
        }
    </script>



}
