@model wmbaApp.Models.Player
<partial name="_ViewHeading" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label custom-file-label">Picture File:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="thePicture" id="the Picture" multiple="multiple">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PlyrFirstName" class="control-label"></label>
                <input asp-for="PlyrFirstName" class="form-control" />
                <span asp-validation-for="PlyrFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlyrLastName" class="control-label"></label>
                <input asp-for="PlyrLastName" class="form-control" />
                <span asp-validation-for="PlyrLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlyrJerseyNumber" class="control-label"></label>
                <input asp-for="PlyrJerseyNumber" class="form-control" />
                <span asp-validation-for="PlyrJerseyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlyrDOB" class="control-label"></label>
                <input asp-for="PlyrDOB" class="form-control" />
                <span asp-validation-for="PlyrDOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamID" class="control-label"></label>
                <select asp-for="TeamID" class="form-control" asp-items="ViewBag.TeamID">
                    <option value="">Assign Team to Player</option>
                </select>
                <span asp-validation-for="TeamID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.PlayerPositions)</label>
                <div class="m-2">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<wmbaApp.ViewModels.CheckOptionVM> checkboxes = ViewBag.PositionOptions;
                                foreach (var checkbox in checkboxes)
                                {
                                    if (cnt++ % 1 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedOptions"
                                               value="@checkbox.ID"
                                               @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                        @checkbox.DisplayText @:&nbsp;&nbsp;
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
        </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Players List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}