@using wmbaApp.Utilities;
@model IEnumerable<wmbaApp.Models.Team>

@{
    ViewData["Title"] = "Home Page";
}



<div class="container-fluid text-center d-flex align-items-center justify-content-center parent">
    <div class="row dashboard">
        <div class="col-md-4 startGame">
            <h1>TEAMS</h1>
            <i class="fa-solid fa-users icon"></i>
            <b><p>View, edit and deactivate teams.</p></b>
            <p class="link">
                <a asp-controller="Teams" asp-action="Index" class="btn">View Teams <i class="fa-solid fa-angles-right" tabindex="7"></i></a>
            </p>
        </div>

        <div class="col-md-4 startGame">
            <h1>PLAYERS</h1>
            <i class="fa-solid fa-user-plus icon"></i>
            <b><p>View, edit and deactivate players.</p></b>
            <p class="link">
                <a asp-controller="Players" asp-action="Index" class="btn">View Players <i class="fa-solid fa-angles-right" tabindex="9"></i></a>
            </p>
        </div>

        <div class="col-md-4 startGame">
            <h1>STATS</h1>
            <i class="fa-solid fa-baseball-bat-ball icon"></i>
            <b><p>View Player Statistics.</p></b>
            <p class="link">
                <a asp-controller="Statistics" asp-action="Index" class="btn" disabled>
                    View Statistics <i class="fa-solid fa-angles-right" tabindex="8"></i>
                </a>
            </p>
        </div>


        <div class="col-md-12 startGame">
            <form asp-action="ImportTeams" method="post" enctype="multipart/form-data">
                <label class="control-label custom-file-label">IMPORT TEAMS:</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="theFile" id="theFile" accept=".xlsx">
                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.Raw(TempData["TeamImportFeedback"])
                <br />
                @Html.Raw(TempData["PlayerImportFeedback"])
                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="row dashboards">


        <div class="col-md-12 gameStyle">

            @if (Model != null && Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th class="d-none d-lg-table-cell"><h1>GAMES</h1></th>
                            @* <th class="d-none d-lg-table-cell">Game Location</th> *@
                            <!-- Add additional headers as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="d-none d-xxl-table-cell">
                                    @{
                                        int gameCount = item.GameTeams.Count;
                                        string firstGame = "";
                                        string gameSummary = "";
                                        if (gameCount > 0)
                                        {
                                            foreach (GameMatchup matchup in (List<GameMatchup>)ViewData["Matchups"])
                                            {
                                                if (matchup.teamOne.TmName == item.TmName)
                                                {
                                                    firstGame = matchup.FullVersus;
                                                    gameSummary = matchup.game.Summary;
                                                }
                                            }
                                            <a class="" role="button" data-bs-toggle="collapse" href="#collapseGames@(item.ID)"
                                               aria-expanded="false" aria-controls="collapseGames@(item.ID)" title="Number of Games">
                                                @firstGame <span class="badge bg-info" style="background-color: #4CBB17; color: #fff;"> Details</span>
                                            </a>
                                            <div class="collapse" id="collapseGames@(item.ID)" style="background-color: #4CBB17; color: #fff;">
                                                @Html.Raw(gameSummary)
                                            </div>
                                        }

                                    }

                                </td>

                            </tr>
                        }

                    </tbody>

                </table>
            }
            else
            {
                <p>No game data available.</p>
            }

        </div>
        <p class="link" id="gameBtn">
            <a asp-controller="Games" asp-action="Index" target="_blank" class="btn">View Games <i class="fa-solid fa-angles-right" tabindex="8"></i></a>
        </p>
    </div>
</div>

@section Scripts {
    <script>
        GenerateContextHelp([
            "<p>This is the homepage help icon. Each page contains a help icon that provides contextual help for that page.</p>",
            "<p>You can get help via clicking the help icon located in the navigation bar or pressing alt + h.</p>",
            "<p>The navigation bar at the top of the page will allow you to navigate through each section of the website.</p>"
        ]);
    </script>
}
