<main class="error">
    <div class="container" style="border: dotted; background-color: white; margin: 50px auto;  padding-top: 80px; max-width: 600px;">

        <div class="row small justify-content-center">
            <img class="logo img-fluid" id="logo"src="~/Image/Main.png" alt="Welland Minor Baseball Logo" style="max-width: 80%; height: auto;">
        </div>

        <div style="text-align: center; margin-top: 20px;">
            <h2 style="font-weight: bold; font-size: 20px;">
                Hello, We understand your interest in playing, but our system is currently undergoing construction. Please attempt again at a later time. Should the problem persist, kindly reach out to your administrator for assistance.
            </h2>
        </div>

    </div>
</main>
