@if (!User.Identity.IsAuthenticated)
{
    <div class="col-md-6 welcomeContainer">
        <div class="childWelcomeContainer">
            <img class="img-fluid logo" src="~/Image/WMBA-combine.png" alt="Logo" tabindex="1" />
            <a class="nav-link btn btn-outline-dark loginClass" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
}
