@model wmbaApp.Models.Division

<<<<<<< HEAD
<<<<<<< HEAD

=======
<<<<<<< HEAD
<partial name="_ViewHeading" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DivName" class="control-label"></label>
                <input asp-for="DivName" class="form-control" />
                <span asp-validation-for="DivName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
=======

>>>>>>> 3b13cb3 (fixed merged solution issue)
=======

>>>>>>> b47d29c (reset main branch to Nadav)
<hr />

        <form asp-action="Create" class="mx-auto mt-4 editform" id="createForm" style="width: 80%;">
    <fieldset>
        <partial name="_ViewHeading" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DivName" class="control-label required-label"></label>
            <input asp-for="DivName" class="form-control" placeholder="Ex: Green Jr. Jackfish" />
            <span asp-validation-for="DivName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-outline-dark">Back to Division List</a>
        </div>
    </fieldset>
            
        </form>



<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 29e156e (fixed merged solution issue)
>>>>>>> 3b13cb3 (fixed merged solution issue)
=======
>>>>>>> b47d29c (reset main branch to Nadav)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
