@model wmbaApp.Models.Division

<partial name="_ViewHeading" />

<div>
    <h4>Division</h4>
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div id="successMessage" class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DivName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DivName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-outline-dark ">Edit</a> 
    <a asp-action="Index" class="btn btn-outline-dark ">Back to Division List</a>
</div>
@section  Scripts {
    <script>
        $(document).ready(function () {
            // Function to fade out the success message after 3 seconds (adjust as needed)
            setTimeout(function () {
                $('#successMessage').fadeOut('slow');
            }, 2000); // 3000 milliseconds = 3 seconds

            // Optional: You can also close the success message when clicking on it
            $('#successMessage').click(function () {
                $(this).fadeOut('slow');
            });
        });
    </script>
}