<partial name="_ButtonModal" />
<nav aria-label="Page navigation">
    @{
       <ul>
            <button type="button" title="Click to change page size." data-bs-toggle="modal" data-bs-target="#buttonModal" class="btn page-link" style="background-color: #4CBB17; color: #fff;">
                <span class="d-none d-md-inline">Back </span>
            </button>
       </ul>
    }
</nav>

