@model wmbaApp.Models.Player

@{
    wmbaApp.Models.Team team = (wmbaApp.Models.Team)ViewBag.Team;
    <partial name="_TeamDetails" model="team" />
    ViewData["Title"] = ViewData["ControllerFriendlyName"];
}

<hr />
<h2>Add player to team</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <input type="hidden" name="TeamID" value="@team.ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PlyrFirstName" class="control-label"></label>
                <input asp-for="PlyrFirstName" class="form-control" placeholder="Ex: John" />
                <span asp-validation-for="PlyrFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlyrLastName" class="control-label"></label>
                <input asp-for="PlyrLastName" class="form-control" placeholder="Ex: Doe" />
                <span asp-validation-for="PlyrLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlyrJerseyNumber" class="control-label"></label>
                <input asp-for="PlyrJerseyNumber" class="form-control" placeholder="Ex: 12" />
                <span asp-validation-for="PlyrJerseyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-route-TeamID="@team.ID" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-TeamID="@team.ID">Back to players list</a>
</div>


@section Scripts {
    <script>
        GenerateContextHelp(["<p>This page lets you create a player.</p>",
            "<p>Enter valid information into each field and click the Create button to save your changes.</p>",
            "<p>Click the Back to Players list button to go back to the players list.</p>"]);
    </script>
}

