@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<style>
    a {
        color: #000;
    }
</style>

<h1>@ViewData["Title"]</h1>
@if (!ViewContext.HttpContext.Request.Path.Equals("/Identity/Account/Login", StringComparison.OrdinalIgnoreCase) &&
    !ViewContext.HttpContext.Request.Path.Equals("/Identity/Account/Register", StringComparison.OrdinalIgnoreCase))
    {
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
    }