@model wmbaApp.Models.Player

<hr />

<form asp-action="Create" method="post" enctype="multipart/form-data" class="mx-auto mt-4 games-editform" id="createForm" style="width: 80%;">
   
    <fieldset>
        <partial name="_ViewHeading" />
     
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlyrFirstName" class="control-label required-label"></label>
                <input asp-for="PlyrFirstName" class="form-control" placeholder="Ex:  Emmanuel" />
                <span asp-validation-for="PlyrFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlyrLastName" class="control-label "></label>
                <input asp-for="PlyrLastName" class="form-control" placeholder="Ex:  James" />

                <span asp-validation-for="PlyrLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlyrJerseyNumber" class="control-label "></label>
                <input asp-for="PlyrJerseyNumber" class="form-control" placeholder="Ex:  7" />
                <span asp-validation-for="PlyrJerseyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlyrMemberID" class="control-label required-label"></label>
                <input asp-for="PlyrMemberID" class="form-control" placeholder="Ex:  746ASE4C" />
                <span asp-validation-for="PlyrMemberID" class="text-danger"></span>
            </div>

            @* for division dropdown *@
            <div class="form-group">
                <label asp-for="Team.DivisionID" class="control-label required-label"></label>
                <select asp-for="Team.DivisionID" class="form-control" id="divisionDropdown">
                    <option value="">Select Division</option>
                    @foreach (var division in ViewData["CreateDivisionID"] as SelectList)
                    {
                        <option value="@division.Value">@division.Text</option>
                    }
                </select>
                <span asp-validation-for="Team.DivisionID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TeamID" class="control-label required-label"></label>
                <select asp-for="TeamID" class="form-control" id="teamDropdown">
                    <option value="">Assign Team to Player</option>
                </select>
                <span asp-validation-for="TeamID" class="text-danger"></span>
            </div>


     
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-outline-dark " />
            <a asp-action="Index" class="btn btn-outline-dark">Back to Players List</a>
        </div>
    </fieldset>

</form>



@section Scripts {
    <script src="~/js/modal.js"></script>
    <script src="~/js/multiselect.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/modal.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}