@model wmbaApp.Models.Player
<hr />
<form asp-action="Edit" method="post" id="editform" enctype="multipart/form-data " class="mx-auto mt-4 editform" style="width: 80%;">
    <fieldset>
        <partial name="_ViewHeading" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="PlyrFirstName" class="control-label required-label"></label>
            <input asp-for="PlyrFirstName" id="disable" class="form-control" placeholder="Ex:  Nadav" />
            <span asp-validation-for="PlyrFirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PlyrLastName" class="control-label required-label"></label>
            <input asp-for="PlyrLastName" id="disablePlayer" class="form-control" placeholder="Ex:  Leon" />
            <span asp-validation-for="PlyrLastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PlyrJerseyNumber" class="control-label required-label"></label>
            <input asp-for="PlyrJerseyNumber" id="disable" class="form-control" placeholder="Ex: 7" />
            <span asp-validation-for="PlyrJerseyNumber" class="text-danger"></span>
        </div>

        @* for division dropdown *@
        <div class="form-group">
            <label asp-for="Team.DivisionID" class="control-label required-label"></label>
            <select asp-for="Team.DivisionID" class="form-control" id="divisionDropdown">
                <option value="">Select Division</option>
                @foreach (var division in ViewData["EditDivisionID"] as SelectList)
                {
                    <option value="@division.Value">@division.Text</option>
                }
            </select>
            <span asp-validation-for="Team.DivisionID" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="TeamID" class="control-label required-label"></label>
            <select asp-for="TeamID" id="teamDropdown" class="form-control" asp-items="ViewBag.TeamID">
                <option value="">No Team Assigned to Player</option>
            </select>
            <span asp-validation-for="TeamID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" id="btnView" value="Save" class="btn btn-outline-dark " />
            <button type="button" id="tmsBck" class="btn btn-outline-dark  " onclick="openModal()">
                Back
            </button>
        </div>

        <div id="customModal" class="modal">
            <div class="modal-content">
                <span class="close" id="close" onclick="closeModal()">&times;</span>
                <b><p id="question">Are you done, have you reviewed it?</p></b>
                <b><p id="required">All Fields are required</p></b>
                <i></i>
                <input type="hidden" id="successMessage" value="@TempData["SuccessMessage"]" />

                <i id="saveCheck" class="fa-solid fa-question fa-f6"></i>
                <input type="submit" id="hideBtn" value="Save" class="btn btn-outline-dark btn-center" />

                <i id="error" class="fa-solid fa-xmark fa-f6"></i>
                <a asp-action="Index" id="bck" class="btn btn-center btn-outline-dark" onclick="closeModal()">Back</a>
            </div>
        </div>

    </fieldset>

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/modal.js"></script>
    <script src="~/js/multiselect.js"></script>
    <script src="~/js/site.js"></script>
}
