@model wmbaApp.Models.Game

<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
<partial name="_ViewHeading" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="GameStartTime" class="control-label"></label>
                <input asp-for="GameStartTime" class="form-control" />
                <span asp-validation-for="GameStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameEndTime" class="control-label"></label>
                <input asp-for="GameEndTime" class="form-control" />
                <span asp-validation-for="GameEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameLocation" class="control-label"></label>
                <input asp-for="GameLocation" class="form-control" placeholder="Ex: Chippawa Park Ball Diamond" />
                <span asp-validation-for="GameLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">:</label>
                @Html.DropDownList("HomeTeamID", null, "Select first team", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">:</label>
                @Html.DropDownList("AwayTeamID", null, "Select first team", htmlAttributes: new { @class = "form-control" })
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
=======
>>>>>>> 3b13cb3 (fixed merged solution issue)
=======
>>>>>>> b47d29c (reset main branch to Nadav)



<form asp-action="Create" class="mx-auto mt-4 editform" id="createForm" style="width: 80%;">
    <fieldset>

        <partial name="_ViewHeading" />
        <div class="form-group">
            <label asp-for="GameStartTime" class="control-label required-label"></label>
            <input asp-for="GameStartTime" class="form-control" />

            <span asp-validation-for="GameStartTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GameEndTime" class="control-label required-label"></label>
            <input asp-for="GameEndTime" class="form-control" />

            <span asp-validation-for="GameEndTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GameLocation" class="control-label required-label"></label>
            <input asp-for="GameLocation" class="form-control" placeholder="Ex: Chippawa Park Ball Diamond" />

            <span asp-validation-for="GameLocation" class="text-danger"></span>
        </div>
        <div class="form-group labRequred">
            <label class="control-label required-label">Required</label>
            @Html.DropDownList("HomeTeamID", null, "Select first team", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="form-group labRequred">
            <label class="control-label required-label">Required</label>
            @Html.DropDownList("AwayTeamID", null, "Select first team", htmlAttributes: new { @class = "form-control" })
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-outline-dark">Back to Games List</a>
        </div>
    </fieldset>
</form>
  

         

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 29e156e (fixed merged solution issue)
>>>>>>> 3b13cb3 (fixed merged solution issue)
=======
>>>>>>> b47d29c (reset main branch to Nadav)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        GenerateContextHelp(["<p>This page lets you create a game.</p>",
            "<p>Enter valid information into each field and click the Create button to save your changes.</p>",
            "<p>Click the Back to Games list button to go back to the games list.</p>"]);
    </script>
}
