@model wmbaApp.Models.Game

<partial name="_ViewHeading" />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="GameStartTime" class="control-label"></label>
                <input asp-for="GameStartTime" class="form-control" />
                <span asp-validation-for="GameStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameEndTime" class="control-label"></label>
                <input asp-for="GameEndTime" class="form-control" />
                <span asp-validation-for="GameEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameLocation" class="control-label"></label>
                <input asp-for="GameLocation" class="form-control" placeholder="Ex: Chippawa Park Ball Diamond" />
                <span asp-validation-for="GameLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        GenerateContextHelp(["<p>This page lets you edit a game.</p>",
            "<p>Enter valid information into each field and click the Save button to save your changes.</p>",
            "<p>Click the Back to Teams list button to go back to the teams list.</p>"]);
    </script>
}
