@model wmbaApp.Models.Team
<partial name="_ViewHeading" />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TmName" class="control-label"></label>
                <input asp-for="TmName" class="form-control" placeholder="Ex: Green Jr. Jackfish" />
                <span asp-validation-for="TmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TmAbbreviation" class="control-label"></label>
                <input asp-for="TmAbbreviation" class="form-control" placeholder="Ex: GJF" />
                <span asp-validation-for="TmAbbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DivisionID" class="control-label"></label>
                <select asp-for="DivisionID" class="form-control" asp-items="ViewBag.DivisionID">
                    <option value="">Select a Division</option>
                </select>
                <span asp-validation-for="DivisionID" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" name="submitButton" value="Create and add players" class="btn btn-primary" />
                <input type="submit" name="submitButton" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        GenerateContextHelp(["<p>This page lets you create a team.</p>",
            "<p>Enter valid information into each field and click the Create button to save your changes.</p>",
            "<p>Click the Back to Teams list button to go back to the teams list.</p>"]);
    </script>
}
