@model wmbaApp.Models.Team

<<<<<<< HEAD


<hr />

<form asp-action="Edit" method="post" enctype="multipart/form-data"  class="mx-auto mt-4 editform " style="width: 80%">
    <fieldset>
       <partial name="_ViewHeading" class="partial"/>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />


        <div class="form-group">
            <label asp-for="TmName" class="control-label required-label">Team Name </label>
            <input asp-for="TmName" class="form-control" placeholder="Ex: Green Jr. Jackfish" />
          
            <span asp-validation-for="TmName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DivisionID" class="control-label required-label"> Division   </label>
            <div class="input-group mb-3">
                <select asp-for="DivisionID" class="form-control" asp-items="ViewBag.DivisionID"></select>  
            </div>
        </div>


        <div id="customModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <b><p id="question">Are you done, have you reviewed it?</p></b>
                <b><p id="txtSave">SAVED</p></b>
                <input type="submit" id="hideBtn" onclick="saveAndClose()" value="Save" class="btn btn-primary" />
                @*  <button type="button" id="hideBtn" class="btn btn-primary" onclick="saveAndClose()">Save</button> *@
                <i id="saveCheck" class="fa-solid fa-check fa-f6"></i>
                <i id="error"  class="fa-solid fa-xmark fa-f6"></i>
                <a asp-action="Index" id="bck" class="btn btn-outline-dark" onclick="closeModal()">Back</a>
            </div>
        </div>



        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex  align-items-center justify-content-center center">
                       @*  <input type="submit" id="btnSubmit" value="View" class="btn btn-primary" /> *@
                        <input type="submit" id="btnView" onclick="saveAndWait()" value="Save" class="btn btn-primary" />
                       
                        <button type="button" id="tmsBck" class="btn btn-primary" onclick="openModal()">
                            <span class="d-none d-md-inline">Back </span>
                        </button>
                        <!-- <a asp-action="Index" type="button" data-toggle="modal" data-target="#pageSizeModal" class="btn btn-primary">Back to Teams list</a> -->
=======
<partial name="_ViewHeading" />

<hr />
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />

    <div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="TmName" class="control-label"></label>
                <input asp-for="TmName" class="form-control" placeholder="Ex: Green Jr. Jackfish"/>
                <span asp-validation-for="TmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DivisionID" class="control-label"></label>
                <div class="input-group mb-3">
@*                     <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" id="nowAddDivision" data-bs-toggle="modal" data-bs-target="#addDivisionCoachModal" type="button">&#x2795;</button>
                    </div> *@
                    <select asp-for="DivisionID" class="form-control" asp-items="ViewBag.DivisionID">
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div display="flex">
                            <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
                            <a asp-action="Index" type="button" class="btn btn-primary">Back to Teams list</a>
                        </div>
>>>>>>> bd393857f4064c2898b737573188121837f79d06
                    </div>
                </div>
            </div>
        </div>
<<<<<<< HEAD

    </fieldset>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function openModal() {
            $('#customModal').show();
          
            $('#saveCheck').hide();
            $('#txtSave').hide();
            $('#btnView').show();
            $('#error').hide();
            $('#hideBtn').hide();
        }

        function closeModal() {
            $('#customModal').hide();
            $('#btnSubmit').hide();
        }

        function saveAndClose() {
            // Perform actions when saved and close the modal
            $('#hideBtn').hide();
            $('#saveCheck').show();
            $('#txtSave').show();
            $('#question').hide();
            $('#btnView').show();
            $('#bck').hide();

          
        }

        function saveAndWait() {
            // Show the modal
            // Trigger form validation
            $('#editform').submit();

            // Check if form has validation errors
            var hasValidationErrors = $('#editform').valid();

            if (!hasValidationErrors) {
                // If no validation errors, hide the save button and show the view button
                $('#hideBtn').hide(); 
                $('#btnView').show();
                $('#saveCheck').show();
                $('#customModal').show();
            } else {
                // If validation errors, you might want to handle this case accordingly
                // For example, you can keep the save button visible and take other actions
                // // ...
                $('#customModal').show();
                $('#saveCheck').hide();
                $('#error').show();
            }
        }

    </script>

=======
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
>>>>>>> bd393857f4064c2898b737573188121837f79d06
}
