@model wmbaApp.Models.Coach



<hr />

<form asp-action="Create" class="mx-auto mt-4 editform" id="createForm" style="width: 80%;">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <fieldset>
        <partial name="_ViewHeading" />

        <div class="form-group">
            <label asp-for="CoachFirstName" class="control-label required-label"></label>
            <input asp-for="CoachFirstName" class="form-control" placeholder="Ex: Leon" />
        </div>

        <div class="form-group">
            <label asp-for="CoachLastName" class="control-label "></label>
            <input asp-for="CoachLastName" class="form-control" placeholder="Ex: Kamdem" />
            <span asp-validation-for="CoachLastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn  btn-outline-dark" />
            <a asp-action="Index" class="btn btn-outline-dark">
                <span></span><span></span><span></span><span></span>
                Back 

            </a>
        </div>

    </fieldset>

</form>
       



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
