<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-wfs5y9k0oJFu6YFu3ZBzZiV3EEJ7hoJYL3OYQIN2sjV46P9NOhTE1fV7yGcJdHIS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-u4W93o4t5iBbZNRe3n1S3BAbV1B7Lfoet2Fc9zgZcOAXF9PlSvEAIvfU5P2+UAsB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-bYpIr1zX5+bQc7v9IMT7f4o1ffDZvLS7DOC66qrN+u5lAV1dABWzAeJlPzgAg6V3" crossorigin="anonymous"></script>
@model wmbaApp.Models.Game
<hr />

<form asp-action="Edit" id="editform"  class="mx-auto mt-4 games-editform"  style="width: 80%;">
    <fieldset>
        <partial name="_ViewHeading" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />

        <div class="form-group">
            <label asp-for="DivisionID" class="control-label"></label>
            <select asp-for="DivisionID" class="details-appearance" asp-items="ViewBag.DivisionID" disabled>
                <option value="">--Select Division--</option>
            </select>
            <span asp-validation-for="DivisionID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="HomeTeamID" class="control-label"></label>
            <select asp-for="HomeTeamID" class="details-appearance" asp-items="ViewBag.HomeTeamID" disabled>
                <option value="">--Select Home Team--</option>
            </select>
            <span asp-validation-for="HomeTeamID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AwayTeamID" class="control-label"></label>
            <select asp-for="AwayTeamID" class="details-appearance" asp-items="ViewBag.AwayTeamID" disabled>
                <option value="">--Select Away Team--</option>
            </select>
            <span asp-validation-for="AwayTeamID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GameStartTime" id="disable" class="control-label required-label"></label>
            <input asp-for="GameStartTime" class="form-control" />
            <span asp-validation-for="GameStartTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GameEndTime" id="disable" class="control-label required-label"></label>
            <input asp-for="GameEndTime" class="form-control" />
            <span asp-validation-for="GameEndTime" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="GameLocation" class="control-label required-label"></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" id="toggleLocationModal" type="button" data-bs-toggle="modal" data-bs-target="#addLocationModal">&#x2795;</button>
                </div>
                @Html.DropDownList("GameLocation", (SelectList)ViewData["GameLocations"], "Select a Location", new { @class = "form-control" })
                <span asp-validation-for="GameLocation" class="text-danger"></span>
            </div>
        </div>

        <div class="modal fade" id="addLocationModal" tabindex="-1" role="dialog" aria-labelledby="addLocationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="addLocationModalLabel">Add New Location</h2>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="modalNewGameLocation" class="form-control" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="saveLocation">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" id="btnView" value="Save" class="btn btn-primary" />
            <button type="button" id="tmsBck" class="btn btn-primary " onclick="openModal()">
                Back
            </button>
        </div>


        <div id="customModal" class="modal">
            <div class="modal-content">
                <span class="close" id="close" onclick="closeModal()">&times;</span>
                <b><p id="question">Are you done, have you reviewed it?</p></b>
                <b><p id="required">All Fields are required</p></b>
                <i></i>
                <i id="saveCheck" class="fa-solid fa-question fa-f6"></i>
                <input type="submit" id="hideBtn" value="Save" class="btn btn-primary" />

                <i id="error" class="fa-solid fa-xmark fa-f6"></i>
                <a asp-action="Index" id="bck" class="btn btn-outline-dark" onclick="closeModal()">Back</a>
            </div>
        </div>
    </fieldset>
</form>

            
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/modal.js"></script>
    }
    <script>
        GenerateContextHelp(["<p>This page lets you edit a game.</p>",
            "<p>Enter valid information into each field and click the Save button to save your changes.</p>",
            "<p>Click the Back to Teams list button to go back to the teams list.</p>"]);
    </script>
    <script src="~/js/site.js"></script>
}
