@model wmbaApp.Models.Game
<hr />
<partial name="_addGameLocationModal" />
<form asp-action="Edit" id="editform"  class="mx-auto mt-4 games-editform"  style="width: 80%;">
    <fieldset>
        <partial name="_ViewHeading" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />

        <div class="form-group">
            <label asp-for="DivisionID" class="control-label"></label>
            <select asp-for="DivisionID" class="details-appearance" asp-items="ViewBag.DivisionID" disabled>
                <option value="">--Select Division--</option>
            </select>
            <span asp-validation-for="DivisionID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="HomeTeamID" class="control-label"></label>
            <select asp-for="HomeTeamID" class="details-appearance" asp-items="ViewBag.HomeTeamID" disabled>
                <option value="">--Select Home Team--</option>
            </select>
            <span asp-validation-for="HomeTeamID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AwayTeamID" class="control-label"></label>
            <select asp-for="AwayTeamID" class="details-appearance" asp-items="ViewBag.AwayTeamID" disabled>
                <option value="">--Select Away Team--</option>
            </select>
            <span asp-validation-for="AwayTeamID" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GameStartTime" id="disable" class="control-label required-label"></label>
            <input asp-for="GameStartTime" class="form-control" />
            <span asp-validation-for="GameStartTime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GameEndTime" id="disable" class="control-label required-label"></label>
            <input asp-for="GameEndTime" class="form-control" />
            <span asp-validation-for="GameEndTime" class="text-danger"></span>
        </div>

        @* game location *@
        <div class="form-group">
            <label asp-for="GameLocationID" class="control-label"></label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" id="nowAddGameLocation" data-bs-toggle="modal" data-bs-target="#addGameLocationModal" type="button">&#x2795;</button>
                </div>
                <select asp-for="GameLocationID" class="form-control" asp-items="ViewBag.GameLocationID">
                    <option value="">Select Location</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" id="btnView" value="Save" class="btn btn-primary" />
            <button type="button" id="tmsBck" class="btn btn-primary " onclick="openModal()">
                Back
            </button>
        </div>


        <div id="customModal" class="modal">
            <div class="modal-content">
                <span class="close" id="close" onclick="closeModal()">&times;</span>
                <b><p id="question">Are you done, have you reviewed it?</p></b>
                <b><p id="required">All Fields are required</p></b>
                <i></i>
                <i id="saveCheck" class="fa-solid fa-question fa-f6"></i>
                <input type="submit" id="hideBtn" value="Save" class="btn btn-primary" />

                <i id="error" class="fa-solid fa-xmark fa-f6"></i>
                <a asp-action="Index" id="bck" class="btn btn-outline-dark" onclick="closeModal()">Back</a>
            </div>
        </div>
    </fieldset>
</form>

            
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/site.js"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/js/refreshDDL.js"></script>
    <script type="text/javascript">
        $('#submitGameLocationCreate').click(function (event) {
            event.preventDefault();
            ClearErrors();
            var form = $('#createGameLocationForm');
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#addGameLocationModal').modal('hide');
                    },
                    error: function (xhr) { //Note: xhr is the XMLHttpRequest
                        var errorMessages = [];
                        switch (xhr.status) {
                            case 401:
                                errorMessages.push("You must be logged in first.");
                                break;
                            case 403:
                                errorMessages.push("You are not authorized for this action.");
                                break;
                            default:
                                //Messages coming from the Model State Errors
                                //We split on the | delimeter and the .slice removes the last one
                                errorMessages = xhr.responseText.split("|").slice(0, -1);
                        }
                        //This checks if there are any elements with some content
                        //and if not then it provides a default feedback message.
                        if (!errorMessages.some((str) => str !== "")) {
                            errorMessages.push("Error: Unable to complete operation");
                        }
                        //Put the messages in the ErrorList ul contained in the 'ValidaitonSummary' div.
                        var ul = document.getElementById("ErrorList");
                        for (var i = 0; i < errorMessages.length; i++) {
                            var errorMessage = errorMessages[i];
                            var li = document.createElement("li");
                            li.innerHTML = errorMessage;
                            ul.appendChild(li);
                        }
                    }
                });
            }
            return false;
        });
        $('#addGameLocationModal').on('hide.bs.modal', function () {
            document.getElementById("createGameLocationForm").reset();//to clear the data in the popup form
            ClearErrors();
            var selectedOption = $('#GameLocationID').val();//Return to the current selected value
            refreshDDL('GameLocationID', '/Games/GetGameLocations/' + selectedOption, false, null, true, 'Select Location', true);
        });
        function ClearErrors() {
            //Empty out the list of validation errors if there are any
            var ul = document.getElementById("ErrorList");
            while (ul.firstChild) {
                ul.removeChild(ul.firstChild);
            }
        }
    </script>
}
